*{
    box-sizing: border-box;
}

body{
    background: #111826;
}

.home-container{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-container{
    margin-right: 30% ;
    color: #FFFFFF;
}


.images-left{
    margin-left: 130%;
   margin-top: -65%;
   position: relative;
   top: 0;
   left: 0;
}

.yellow-long{
    position: relative;
    top: 56px;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 80px;
}

.people-image{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    width: 70%;
    height: 150%;
}

.purple-left{
    margin-left: 230%;
    margin-top: -10%;
   position: relative;
   top: 0;
   left: 0;
}

.purple-vector{
    position: absolute;
    z-index: 1;
    padding-right: 150%;
    margin-bottom: 20%;
    margin-right: 40%;
}

.purple-arrow{
    position: relative;
    z-index: 3;
}

.second-images{
    margin-left: 150%;
    margin-top: 20%;
    display: flex;
    flex-direction: row;
}

.third-images{
    margin-left: 200%;
    margin-top: 10%;
}

