*{
    box-sizing: border-box;
}

body{
    background: #111826;
}

.home-container{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-container{
    margin-right: 30% ;
    color: #FFFFFF;
}


.images-left{
    margin-left: 200%;
   margin-top: -65%;
}

.second-images{
    margin-left: 200%;
    margin-top: 5%;
}

.third-images{
    margin-left: 200%;
    margin-top: -8%;
}