*{
    box-sizing: border-box;
}

body{
    background: #111826;
}

.home-container{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-container{
    margin-right: 30% ;
}


.images-left{
    margin-left: 200%;
   margin-top: -65%;
}

